/*=============== HERO ===============*/
.hero {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--black-color)), 
    url('/img/hero.jpg') no-repeat center center / cover;
}

.hero-container {
    color: var(--white-color);
    height: 30vh;
    margin-top: 17rem;
    margin-left: 1rem;
    text-align: left;
    display: flex;
}

.hero-text h1 {
    font-size: 2.3rem;
}

.hero-text p {
    font-size: 1.5rem;
}

.hero-text a {
    color: var(--white-color);
}

.hero-img {
    display: none;
    margin: 0 0 10rem 5rem;
}

.hero-img a img {
    width: 80%;
}

@media screen and (min-width: 700px) {
    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-container {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    .hero-img {
        display: block;
    }
    .hero-text {
        min-width: 600px;
    }
}
/*=============== TJÄNSTER SECTION ===============*/

.services {
    width: 100%;
    height: auto;
    margin-top: 100vh;
    background-color: var(--black-color);
    color: #fff;
    text-align: center;
}

.services-text {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services-text h1 {
    font-size: 2.3rem;
}

.services-text p {
    max-width: 500px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background-color: var(--color1);
    padding: 5% 6%;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s, background-color 0.6s; /* Smooth transition for hover effects */
}

.card:after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(18px);
    opacity: 0.5;
    transition: width 1s, top 1s; /* Smooth transition for pseudo-element */
}

.card:hover:after {
    width: 225%;
    top: -100%;
}

.card:hover {
    background-color: transparent;
    transform: translateY(-5px); /* Hover effect applied */
}

.card-icon {
    color: var(--color2);
    margin-bottom: 20px;
    font-size: 4.8rem;
}

@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }
}
