/*=============== HERO ===============*/
.hero {
    height: 100vh;
    width: 100%;
    position: relative; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--black-color-2)); /* Gradient ending in your background color */
    overflow: hidden; 
}
.hero-video {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(15%);
    z-index: -1;
}

.hero-video video {
    min-height: 100vh;
    min-width: 100%;
    object-fit: cover; /* Stretch the video while ensuring it fills the container */
    object-position: center;
}


.hero-container {
    color: var(--white-color);
    height: 30vh;
    margin-top: 17rem;
    margin-left: 1rem;
    text-align: left;
    display: flex;
    z-index: 10;
}

.hero-text h1 {
    font-size: 2.3rem;
}

.hero-text p {
    font-size: 1.5rem;
}

.hero-text a {
    color: var(--white-color);
}

.hero-img {
    display: none;
    margin: 0 0 10rem 5rem;
}

.hero-img a img {
    width: 80%;
}

@media screen and (min-width: 700px) {
    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-container {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    .hero-img {
        display: block;
    }
    .hero-text {
        min-width: 600px;
    }
}
/*=============== TJÄNSTER SECTION ===============*/

.services {
    background-color: var(--black-color-2);
    color: #fff;
    text-align: center;
}

.services-text {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services-text h1 {
    font-size: 2rem;
    font-weight: 600;
}

.services-text p {
    max-width: 500px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background-color: var(--color1);
    padding: 5% 6%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s, background-color 0.6s; /* Smooth transition for hover effects */
}


.card:after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(18px);
    opacity: 0.5;
    transition: width 1s, top 1s; /* Smooth transition for pseudo-element */
}

.card:hover:after {
    width: 225%;
    top: -100%;
}

.card:hover {
    background-color: transparent;
    transform: translateY(-5px); /* Hover effect applied */
}

.card-icon {
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 4.8rem;
}

@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 700px) {
    .services-text h1 {
        font-size: 3rem;
    }
    .card {
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }
}
/*=============== KUNDER SECTION ===============*/
.customers {
    width: 100%;
    height: auto;
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: var(--black-color);
    color: #fff;
    text-align: center;
}

.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    display: none;
}

.customer-card {
    background-color: transparent;
    padding: 5% 6%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.customer-cards-phone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.customer-card h2 {
    transition: ease-in-out all 0.3s; 
}

.customer-card.aurora:hover h2 {
    color: var(--aurora-color);
}

.customer-card.flexiworker:hover h2 {
    color: var(--flexiworker-color);
}

.customer-card.equalkidz:hover h2 {
    color: var(--equalkidz-color);
}

.customer-card-icon {
    color: var(--color2);
    margin-bottom: 20px;
    font-size: 4.8rem;
}

.customer-card img {
    width: 85%;
    margin-bottom: 1rem;
}

.aurora-color:hover {
    color: var(--aurora-color);
}
.flexiworker-color:hover {
    color: var(--flexiworker-color);
}
.equalkidz-color:hover {
    color: var(--equalkidz-color);
}

.card-logo {
    color: var(--color2);
    margin-bottom: 20px;
    font-size: 4.8rem;
}

@media screen and (min-width: 1100px) {
    .customer-cards {
        display: grid;
    }
    .customer-cards-phone {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .customer-cards, .customer-cards-phone {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 900px) {
    .customer-cards, .customer-cards-phone {
        grid-template-columns: repeat(1,1fr);
    }
}
/*=============== OM OSS SECTION ===============*/
.om-oss {
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    background-color: var(--black-color-2);
    color: #fff;
    text-align: left;
}

.om-oss-container {
    max-width: 1120px;
    margin-inline: 2rem;
    display: flex;
    flex-direction: column;
}

.om-oss-img img {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 5vh;
}

.om-oss p {
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.om-oss h1 {
    font-size: 3.4rem;
    font-weight: 600;
}

.om-oss a {
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    .om-oss-container {
        flex-direction: row;
        align-self: auto;
        margin: 0 auto;
    }
    .om-oss-img img {
        width: 80%;
        height: 80%;
    }
    .om-oss {
        padding-top: 10vh;
    }
}

@media screen and (min-width: 1200px) {
    .om-oss-container {
        margin: 0 auto;
    }
}
/*=============== UTFORSKA SECTION ===============*/
.explore {
    width: 100%;
    height: auto;
    padding: 10vh 0 10vh 0;
    background-color: var(--black-color);
    color: #fff;
    text-align: left;
}

.explore-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.explore-card {
    background-color: var(--black-color-2);
    padding: 5%;
    border-radius: 1px;
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s, background-color 0.6s; /* Smooth transition for hover effects */
}

.explore-card img {
    background-position: center;
    background-repeat: no-repeat;
    width: 110%;
    height: 80%;
    margin-top: -5%;
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .explore-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1000px) {
    .explore-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}





