.kontakta-oss-socials div {
    margin-top: 1rem;
}

.kontakta-oss h2 {
    color: #fff;
    font-size: 1.2rem;
}

.kontakta-oss-socials ul li {
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    .kontakta-oss {
        display: flex;
        justify-content: space-between;
    }
    .kontakta-oss h2 {
        font-size: 1.5rem;
    }
    .kontakta-oss-text {
        max-width: 60%;
    }
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: var(--color1);
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

textarea {
    resize: none;
}

button:hover {
    background: var(--color2);
}
